/.vs
/packages
**/code/bin
**/website/bin
**/obj/Debug
**/obj/Release
**/xconnect/bin
docker/data/*/*
!docker/data/*/.gitkeep
*.user
docker/deploy/**/*
!docker/deploy/**/*.gitkeep
**/tests/bin/Debug
**/tests/obj/Debug

*.env.local