/.vs
/packages
**/code/bin
**/website/bin
**/obj/Debug
**/obj/Release
**/xconnect/bin
/data/*/*
!/data/*/.gitkeep
*.user
/deploy/website/*
!/deploy/website/*.gitkeep
**/tests/bin/Debug
**/tests/obj/Debug