<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:eds="http://www.sitecore.net/xmlconfig/eds/">
  <sitecore role:require="Standalone or ContentManagement or DedicatedDispatch" eds:require="CustomSmtp">
    <exm>
      <eds>
        <smtpSettings patch:instead="*[@type='Sitecore.EDS.Core.Net.Smtp.SmtpSettings, Sitecore.EDS.Core']" type="Sitecore.EDS.Core.Net.Smtp.SmtpSettings, Sitecore.EDS.Core" singleInstance="true">
          <server>smtp.sendgrid.net</server>
          <port>587</port>
          <userName>apikey</userName>
          <password>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</password>
          <authenticationMethod>CramMd5</authenticationMethod>
          <startTls>true</startTls>
          <proxySettings ref="exm/eds/proxySettings" />
        </smtpSettings>
      </eds>
    </exm>
  </sitecore>
</configuration>